<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.dao.CardMapper">
  <resultMap id="BaseResultMap" type="com.bs.entity.Card">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, text, url, tag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from card
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="com.bs.entity.Card">
    select
      id, title, text, url, tag
    from card
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from card
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertOne" parameterType="com.bs.entity.Card">
    insert into card (title, text,url, tag)
    values (#{title,jdbcType=VARCHAR}, #{text,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bs.entity.Card">
    insert into card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="text != null">
        text,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="tag != null">
        tag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bs.entity.Card">
    update card
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bs.entity.Card">
    update card
    set title = #{title,jdbcType=VARCHAR},
      text = #{text,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>